* {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Evolventa',Arial,sans-serif;
    font-weight: 600;*/
    
}

.background {
    background: #fbfbfb;
    /*background: red;*/
}

header {
    /*margin-top: 5%;*/
    font-weight: 300;
    background: #fbfbfb;
    width: 97%;
    /*padding:25px;*/
   /* display: -webkit-inline-flex;
    display: inline-flex;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
}

body {
    /*overflow: hidden;*/
    overflow: scroll;
    /*padding: 5%;*/
    /*background: #e6e6e6;*/
    /*background: #fbfbfb;*/
    background: #e7eaf2;        
}

a {
    text-decoration: none;
}
 
/*.et-hero-tabs,*/
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;

    
}


h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(1em + 5vw);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.et-hero-tabs-container {
        position: fixed;
        top: 0;
    }


.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
}

.et-hero-tab:hover {
            color:white;
      background: #2bc6d8;
            transition: all 0.5s ease;
    }

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
    .et-hero-tabs,
    .et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
    }
    .et-hero-tab {
        font-size: 1rem;
    }
}
/*#logo-1 {
    margin:20px;
}*/

.logo {
    /*width: 50%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    margin: 0 0px 0px 7%;

}

/*.line {
    width: 1px; 
    height: 100px; 
    background-color: black; 
    margin: 15px;
}*/

.logo > * {
    margin-right: 5%;
}

.info > a {
    color: black;
    text-decoration: none;
}

/*#logo-2 {
    margin-top: -1.5%;
}*/

.margin {
    height: calc(1em + 3vw);
}

#logo-3 {
    margin: 4% 0px 0px 7%;;
    max-width: calc(1em + 30vw);
    height: auto;
} 

/*.logo-img {
    width: 100%;
}*/

/*
header > div {
    display: table-cell;
}*/

/*.line {
    margin-top: 10px;
}*/

.info {
    float: right;
    margin: 7% 10% 0 0;
    text-align: center;
}

.info > * {
    font-size: calc(0.1em + 1.3vw);
    display: inline-block;
    margin-right: 5%; 
}

#ru {
    color: #2bc6d8; 
    font-weight: 400;
}

#ru:hover {
    color: black;
    font-weight: 400;
}

#en:hover {
    color: #2bc6d8; 
    font-weight: 400;
}

.logo-bottom {
    overflow: hidden;
    /*word-break: break-all;*/
    /*position: relative;*/
    width: 97%;
    background: #fbfbfb;
    /*display: -webkit-inline-flex;
    display: inline-flex;*/
    /*margin-left: 10%;*/
}

.logo-bottom-text {
    margin-left: 10%;
}

/*.logo-bottom > div  {
    display: inline-block;
}*/

/*#xy {
    max-width: 50%; 
}*/

#iso {
    /*margin-left: 90%;*/
    float: right;
    margin: 2% 10% 10% 0;
    /*max-width: 40%; */
    max-width: calc(1em + 35vw);
    height: auto;
    /*animation-name: iso;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

/*@keyframes iso {
    from {transform: scale(1.05);}
    to {transform: scale(1);}
}
*/

#iso:hover {
    transform: scale(1.1);
    transition: .5s;
}

#iso:not(:hover) {
    transform: scale(1);
    transition: .5s;
}

.logo-bottom-p {
    font-size: calc(0.1em + 1.2vw);
    font-weight: 300;
    margin: 15% 0 2% 0;
}

.logo-bottom-p-2 {
    /*margin-left: 200px;*/
    font-size: calc(0.1em + 1.7vw);
}

.buttons {
    margin: 5% 0 0 0;
}

.buttons > a {
    color: #2bc6d8;
    border: 2px solid #2bc6d8;
    border-radius: 50px;
    text-decoration: none;
    padding: 1%;
    margin-right: 15px;
    font-size: calc(0.1em + 1vw);
}

#calc {
    background: #2bc6d8;
    color: white;
}

#calc:hover {
    transition-duration: .5s;
    background: white;
    color: #2bc6d8;
}


#calc:not(:hover) {
    transition-duration: .5s;
    background: #2bc6d8;
    color: white;
}

#help:hover {
    transition-duration: .5s;
    background: #2bc6d8;
    color: white;
}

#help:not(:hover) {
    transition-duration: .5s;
    background: white;
    color: #2bc6d8;
}

#tab-projects {
    margin-bottom: 5%;
    /*background: #fbfbfb;*/
}

.services {
    /*margin-top: 10%;*/
    width: 100%;
    background: #e7eaf2;
}

.service-text {
  margin: 0 0 3% 10%;
  font-size: 200%;
}

.service-images {
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    margin-left: 0%;
    padding: 0%;
    vertical-align: top;
    clear: both;
}

/*.break {
  flex-basis: 100%;
  height: 0;
}*/

.service-images > div {
    margin: 0 0 5% 10%;
    display: inline-block;
}

/*.service-images > div > p {

}
*/
.back {
    margin-top: -1%;
    padding: 3%;
    background: #fbfbfb;
    /*height: 22%;*/
    /*height: calc(1em + 8vw);*/
    border-radius: 0 0 5px 5px;
}

.back > a {
    color: #2bc6d8;
    border: 2px solid #2bc6d8;
    border-radius: 50px;
    text-decoration: none;
    padding: calc(0.5em + 0.1vw);
    margin-top: 200px;
}

.back > a:hover {
    transition-duration: .5s;
    background: #2bc6d8;
    color: white;
}

.back > a:not(:hover) {
    transition-duration: .5s;
    background: white;
    color: #2bc6d8;
}

.margin-simage {
    height: calc(1em + 0.5vw);
}

.simage > img {
    border-radius: 5px 5px 0 0;
}

.simage-name {
    font-size: calc(1em + 0.2vw); 
    font-weight: 300;
}

.simage-text {
    font-size: calc(1em + 0.5vw); 
    font-weight: 400; 
    margin-bottom: 4%;
}

.simage-img {
    /*width:680px; */
    width: calc(1em + 35vw);
    /*height:370px;*/
    height: calc(1em + 20vw);
}

/*.very-big-forma {
    position: relative;
}*/

#big-forma {
    /*max-width: 93.5%;*/
    position: relative;
    overflow: hidden;
    height: 350px; 
}

#big-forma > p {
    position: relative;
    z-index: 2;
}

.forma {
    position: absolute;
    background: #e7eaf2;
    transform: skew(-20deg);
    /*max-width: 93.5%;*/
    max-width: 103%;
    background: #2bc6d8;
    height: 300px;
    padding: 20px; 
    z-index: 0;
}

.trio {
    position: absolute;
    margin-top: 0%;
    z-index: 1;
    height: 300px;
    width: 10%;
    background: #2bc6d8;
    /*background: red;*/
}

.trio.green {
    background:#2bc6d8;
}

#trio-2 {
    visibility: hidden;
    position: absolute;
    margin: 0 0 0 90%;
    z-index: 2;
    height: 340px;
    width: 10%;
    /*background: #2bc6d8;*/
    background: blue;
}

/*.forma > * {
    transform: skew(20deg);
}*/

#big-forma > p {
    font-size: 22px;
    margin-left: 10%;
}

.name {
    position: relative;
    margin: 4% 0 0 10%;
    font-size: 30px;
    z-index: 2;
}


.soc {
    position: relative;
    margin-top: calc(1em + 3vw);
    margin-left: 10%;
    /*margin: 4% 0 0 10%;*/
    z-index: 2;
}

#big-forma > .soc > a {
  display: inline-block;
  margin-top: -10%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #eee;
  border: 1px solid silver;
  cursor: pointer;
  color: #3b3b3b;
  transition: transform 600ms ease;
}

#big-forma > .soc > a > div > i {
    margin-top: 30%;
    font-size: 30px;
}

.soc a:hover {
  transform: translateY(-10px);
}

#main {
  top: 0;
  left: 0;
  /*width: 800px;*/
  background: linear-gradient(to right, #2bc6d8, #2bc6d8);
}


.diplom {
    width: 100%;
    height: calc(1em + 40vw);
    background: #fbfbfb;
    margin-top: 7%;
    display: flex;
}

.diplom > p {
    /*font-size: 380%;*/
    text-align: right;
}

.diplom-text {
    margin: 2% 18% 0 57%;
    line-height: calc(0.1em + 2vw);
}

.diplom-text > p {
    font-size: calc(0.1em + 0.8vw);
    margin-top: 10%;
}

.diplom-text > ul {
    list-style-type: none; 
}

.diplom-text > ul > li {
    /*font-size: 80%;*/
    font-size: calc(0.1em + 0.8vw);
    counter-increment: step-counter;
}

/*.ul-li > ul > li{
    display: inline-block;
}
*/
.diplom-text > ul > li:before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #2bc6d8;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.diplom-text > ul > li.active {
    transform: translate3d(0px, 0, 0);
    opacity: 1;
}

.diplom > a {
    position: absolute;
    margin: 5% 0 0 10%;
    z-index: 0;
}

#diplom-img {
    max-width: 50%;
    height: auto;
    position: relative;
}

#hand {
    position: absolute;
    z-index: 1;
    margin: 20% 0 0 43%;
    max-width: 8%;
    height: auto;
} 

.hand-2 {
    /*position: relative;*/
    animation-name: hand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}


@keyframes hand {
    from {z-index: 1; transform: skew(-4deg);}
    to {z-index: 0;transform: skew(4deg);}
}

#itproger {
    text-decoration: none;
    color: #2bc6d8;
}

/*@media (min-width: 480px) and (max-width: 1024px) {
  body {
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
  }
}*/